body{
    background-color: cornsilk; 
}

.slider{
    position: relative;
}

.slides_container{
    height: 95vh;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slide{
    width: 95%;
    padding: 50px;
    flex: 1 0  95%;
}

.slide:nth-child(odd){
    background-color: cadetblue;
}

.arrow{
    background-color: whitesmoke;
    height: 70px;
    width: 40px;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    transition: opacity 100ms ease;
}

.arrow:hover{
    opacity: 1;
}

#next{
    right: 0;
    border-radius: 20px 0 0 20px;
}

#prev{
    left: 0;
    border-radius: 0 20px 20px 0;
}

