.montserrate1 {
    font-family: 'Montserrat', sans-serif; font-weight: 400;
}

.version900{
    font-weight: 900;
}

.BungeeSpice{
    font-family: 'Bungee Spice', cursive;
}

.Nabla{
    font-family: 'Nabla', cursive;
}