* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Marmelad', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('img/pig-bkg.webp');
}

main{
    position: relative;
    background-color: rgb(255,255,255,0.35);
    width: 60vw;
    height: 60vh;
    border-radius: 30px;
    backdrop-filter: blur(200px);
    display: flex;
    box-shadow: 0 20px 50px rgb(0,0,0,0.25);
}

.player{
    flex: 50%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}