
body{
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}


.main_head{
    display: flex;
    background-color: #3E94D1;
    font-size: 24px;
    height: 25%;
    width: 100%;
}

.head_name{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.menu{
    border: 3px solid black;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 7px;
    border-radius: 10px;
    background: rgba( 96, 214, 169, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: 1px solid black;
}

.shlyapa {
    width: 55%;
    text-align: right;
    
}

.slider{
    position: relative;
}

.slides_container{
    
    height: 70vh;
    width: 90%;
    display: flex;
    margin: 10px auto 10px auto;;
    padding: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slide{
    width: 95%;
    padding: 50px;
    flex: 1 0  95%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide:nth-child(1) {
    background-image: url(image/767255.jpg);
}

.slide:nth-child(2) {
    background-image: url(image/767256.jpg);
}

.slide:nth-child(3) {
    background-image: url(image/767257.jpg);
}

.slide:nth-child(4) {
    background-image: url(image/767577.jpg);
}

.image_slide{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.text_slide{
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    font-size: 48px;
    border: 3px #3E94D1 solid;
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    text-align: center;
	text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}

.slide_url{
    text-decoration: none;
}

.slide:nth-child(odd){
    background-color: cadetblue;
}

.arrow{
    background-color: whitesmoke;
    height: 70px;
    width: 40px;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    position: absolute;
    transition: opacity 100ms ease;
}

.arrow:hover{
    opacity: 1;
}

#next{
    right: 5%;
    top: 40%;
    border-radius: 20px 0 0 20px;
}

#prev{
    left: 5%;
    top: 40%;
    border-radius: 0 20px 20px 0;
}

.recipe_main{
    width: 90%;
    padding: 40px;
    margin-top: 30px;
}

.recipe_pare:nth-child(even){
    flex-direction: row-reverse;
}

.recipe_url:nth-child(even){
    margin-right: 10px;
}

.recipe_foto{
    float: left;
    margin: 7px 6% 7px 7px;
}

.foto_recipe{
    border-radius: 25px;
    width: 40vw;
    height: 50vh;
    margin-bottom: 20px;
    border: 3px solid #3E94D1;
}

.recipe_opisanie{
    top: 100px;
    width: 40vw;
    height: 40vh;
    float: left;
    padding: 15px;
    border: 3px solid #3E94D1;
    font-size: 28px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.name_recipe{
    text-align: center; 
    font-size: 32px;  
    font-weight: bold;
}

.recipe_pare{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe_url{
    text-decoration: none;
    color: black;
}

.main_footer{
    display: flex;
    justify-content: space-between;
    background-color: #3E94D1;
    font-size: 24px;
    height: 25%;
    width: 100%;
}

.shlyapa_footer{
    text-align: left;
}

.social_media{
    right: 60px;
    margin-top: 10px;
    width: 4vw;
    height: 6vh;
    margin-right: 5px;
}

.line{
    text-decoration: underline;
    color: #FFAC40;
    text-align: center;
    text-shadow: 
		-0   -1px 1px #000000,
		 0   -1px 1px #000000,
		-0    1px 1px #000000,
		 0    1px 1px #000000,
		-1px -0   1px #000000,
		 1px -0   1px #000000,
		-1px  0   1px #000000,
		 1px  0   1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000;
}

.shlyapa_recipe {
    width: 90%;
    text-align: right;
}

.recipe_pare_in_dish{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe_opisanie_in_dish{
    top: 100px;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 80vh;
    float: left;
    border: 3px solid #3E94D1;
    font-size: 24px;
    border-radius: 25px;
}

.name_recipe_in_dish{
    text-align: center; 
    font-size: 28px;  
    font-weight: bold;
}

.shlyapa_recipe{
    width: 80%;
    text-align: right;
}

.recipe_step_by_step{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.recipe_opisanie_step_by_step{
    top: 100px;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 35px;
    height: 29vh;
    float: left;
    border: 3px solid #3E94D1;
    font-size: 24px;
    border-radius: 25px;
    text-align: center;
}

.recipe_foto_2{
    float: right;
    margin: 7px 11.5% 7px 7px;
}