body{
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}


.main_head{
    display: flex;
    background-color: #3E94D1;
    font-size: 24px;
    height: 10%;
    width: 100%;
}

.head_name{
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.menu{
    border: 3px solid black;
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 7px;
    border-radius: 10px;
}

.shlyapa {
    width: 65%;
    text-align: right;
}

.slider{
    position: relative;
}

.slides_container{
    
    height: 70vh;
    width: 90%;
    display: flex;
    margin: 10px auto 10px auto;;
    padding: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slide{
    width: 95%;
    padding: 50px;
    flex: 1 0  95%;
}

.image_slide{
    width: 100%;
    height: 100%;
    object-fit: cover;	
}

.text_slide{
    color: black;
    font-size: 32px;
    text-decoration: none;
}

.slide:nth-child(odd){
    background-color: cadetblue;
}

.arrow{
    background-color: whitesmoke;
    height: 70px;
    width: 40px;
    font-size: 50px;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    position: absolute;
    transition: opacity 100ms ease;
}

.arrow:hover{
    opacity: 1;
}

#next{
    right: 5%;
    top: 40%;
    border-radius: 20px 0 0 20px;
}

#prev{
    left: 5%;
    top: 40%;
    border-radius: 0 20px 20px 0;
}

.recipe_main{
    width: 90%;
    padding: 40px;
    margin-top: 30px;
}

.recipe_foto{
    float: left;
    margin: 7px 6% 7px 7px;
}

.foto_recipe{
    border-radius: 25px;
    width: 40vw;
    height: 50vh;
    margin-bottom: 20px;
    border: 3px solid #3E94D1;
}

.recipe_opisanie{
    top: 100px;
    width: 40vw;
    height: 40vh;
    float: left;
    padding: 15px;
    border: 3px solid #3E94D1;
    font-size: 28px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.name_recipe{
    text-align: center; 
    font-size: 32px;  
    font-weight: bold;
}

.recipe_pare{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe_url{
    text-decoration: none;
    color: black;
}

.main_footer{
    display: flex;
    justify-content: space-between;
    background-color: #3E94D1;
    font-size: 24px;
    height: 10%;
    width: 100%;
}

.shlyapa_footer{
    text-align: left;
}

.social_media{
    right: 60px;
    margin-top: 3px;
    width: 6vw;
    height: 10vh;
    margin-right: 5px;
}