body{
 background-color: black;
}

.one{
    position: absolute;
width: 95px;
height: 40px;
left: 242px;
top: 0px;

background: #53CCF2;
}
.two{
    position: absolute;
width: 81px;
height: 75px;
left: 240px;
top: 60px;

background: #F857CB;
}
.tree{
    position: absolute;
width: 634px;
height: 21px;
left: 507px;
top: 87px;

background: #5A586F;
}
.four{
    position: absolute;
width: 130px;
height: 40px;
left: 1300px;
top: 0px;

background: #53CCF2;
}
.five{
    position: absolute;
width: 233.5px;
height: 46px;
left: 1188px;
top: 80px;

background: #53CCF2;
}
.six{
    position: absolute;
width: 177px;
height: 33px;
left: 832px;
top: 319px;

background: #E64444;
}
.seven{
    position: absolute;
width: 455px;
height: 77px;
left: 832px;
top: 373px;

background: #E64444;
}
.eight{
   position: absolute;
width: 1665px;
height: 645px;
left: 0px;
top: 157px;

background: #D9D9D9;
}
.nine{
    position: absolute;
width: 552px;
height: 86px;
left: 832px;
top: 457px;

background: #E64444;
}
.ten{
position: absolute;
width: 291px;
height: 71px;
left: 834px;
top: 599px;

background: #53CCF2;
}
.eleven{
position: absolute;
width: 63px;
height: 66px;
left: 1532px;
top: 459px;

background: #631E54;
}
.twelve{
position: absolute;
width: 63px;
height: 66px;
left: 78px;
top: 461px;

background: #631E54;
}